name: Java CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21

      - name: Build with Maven
        run: ./mvnw clean verify


      - name: Upload test reports
        uses: actions/upload-artifact@v4
        with:
            name: test-results
            path: target/surefire-reports/

      - name: Show test summary
        run: cat target/surefire-reports/*.txt